header {
  max-width: 1520px;
  height: 75px;
  background: linear-gradient(to left, rgb(255, 0, 0), white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.name {
  width: 235px;
  font-size: 30px;
  color: rgb(255, 0, 0);
  margin: 0px;
  margin-left: 20px;
  font-family: "Girassol", cursive;
}
.day_week {
  width: 43%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.date {
  font-family: "Courier Prime", monospace;
  font-size: 20px;
  margin: 0px;
  background: linear-gradient(45deg, rgb(255, 0, 0) 33%, #3a8adf 66%, white);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.clock {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  font-family: "Courier Prime", monospace;
  font-size: 20px;
  margin-left: 1320px;
  color: white;
  background-color: rgb(255, 0, 0);
}
@media screen and (max-width: 1024px) {
  .clock {
    margin-left: 845px;
  }
}
@media screen and (max-width: 768px) {
  .clock {
    margin-left: 590px;
  }
  .day_week {
    position: relative;
    right: 40px;
  }
}
@media screen and (max-width: 600px) {
  .day_week {
    position: relative;
    left: 20px;
  }
  .clock {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .date {
    background: linear-gradient(45deg, white 33%, white 66%, white);
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
@media screen and (max-width: 375px) {
  header {
    height: 120px;
    flex-direction: column;
  }
  .name {
    background: linear-gradient(45deg, rgb(255, 0, 0) 33%, #3a8adf 66%, white);
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
