.news {
  width: 100%;
}
.list_article_layer {
  width: 100%;
}
.news_container {
  width: 100%;
  display: flex;
}
.news_container ul {
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-around;
}
.list_articles_container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.list_article_title h2 {
  font-family: "Playfair Display";
  color: #1a2953;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 1px;
}
.list_article_description {
  width: 100%;
  font-family: "Cabin";
  color: #1a2953;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.5px;
}
.list_article_body {
  width: 100%;
  /* display: none; */
  font-family: "Cabin";
  color: #535f7e;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 25px;
}
.list_article_body a {
  font-family: "Cabin";
  color: #1a2953;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 4px;
}
.list_article_body a:visited {
  font-family: "Dosis", sans-serif;
  color: #3a8adf;
  text-decoration: none;
}
.list_article_img_cont {
  width: 100%;
}
.list_article_img_cont img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.more_box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.more {
  font-family: "Playfair Display";
  color: #1a2953;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 1px;
  margin: 0px;
}
.more:hover {
  color: #ea2d4e;
  cursor: pointer;
}
.date_of_publ {
  font-family: "Cabin";
  color: #8c94a9;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 4px;
}
